body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cdf0f7;
}

.container {
    padding: 20px;
}

.header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}